version: '3.1'

volumes:
  dockerfile_editor:

services:
  php:
    build:
      dockerfile: ./php.dockerfile
    depends_on:
      - db
    ports:
      - 80:80
    volumes:
      - ./src:/var/www/html/
  
  db:
    image: mysql
    # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
    # (this is just an example, not intended to be a production configuration)
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: MY_PASSWORD
      MYSQL_DATABASE: dockerfile_editor
      MYSQL_USER: dockerfile_editor
      MYSQL_PASSWORD: MY_PASSWORD
    volumes:
      - dockerfile_editor:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080